body{
    margin: 10 auto;
    padding: 20px;
    background-color: hsl(164, 91%, 10%);
}

#body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(164, 91%, 23%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    boreder: none;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2);
    box-shadow: 20px 5px 15px 2px rgba(0, 0, 0, 0.2);   
    margin: 50px auto;
}

#display{
    width: 7.1em;
    padding: 25px;
    margin: 0;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: hsl(164, 91%, 13%) ;
    color: #FFF9F9;
    font-family: montserrat;
    font-weight: bold;
}

#button{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    drop-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);  

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    color: #FFF9F9;
    background-color: hsl(165, 63%, 46%);
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(145deg, hsl(165, 63%, 49%), hsl(165, 63%, 41%));
    box-shadow: inset  -5px -5px 6px hsl(165, 62%, 39%),
             inset 5px 5px 6px hsl(165, 71%, 53%);
    position: relative;
}


button:hover{
    background: linear-gradient(145deg, hsl(165, 63%, 56%), hsl(165, 63%, 51%));
    box-shadow: inset  -5px -5px 6px hsl(165, 62%, 49%),
             inset 5px 5px 6px hsl(165, 71%, 63%);
    position: relative;
}

button:active{
    background: linear-gradient(145deg, hsl(165, 63%, 66%), hsl(165, 63%, 61%));
    box-shadow: inset  -5px -5px 6px hsl(165, 62%, 59%),
             inset 5px 5px 6px hsl(165, 71%, 73%);
    position: relative;
}

.label-bawah{
    font-family: bebas neue;
    color: #FFF9F9;
    display: flex;
    width: 100%;
    justify-content: center;
}

.label-bawah h1{
    font-family: ;
    padding: 0;
    background-color: #25a283;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.operator{
    background-color: #01a1b7;
    background: linear-gradient(145deg, #07b8cf, #038b9d);
    box-shadow: inset  -5px -5px 6px #038b9d,
             inset 5px 5px 6px #07b8cf;
}

.operator:hover{
    background: linear-gradient(145deg, hsl(187, 93%, 52%), hsl(187, 96%, 41%));
    box-shadow: inset  -5px -5px 6px hsl(187, 96%, 41%),
             inset 5px 5px 6px hsl(187, 93%, 52%);
}

.operator:active{
    background: linear-gradient(145deg, hsl(187, 93%, 62%), hsl(187, 96%, 51%));
    box-shadow: inset  -5px -5px 6px hsl(187, 96%, 51%),
             inset 5px 5px 6px hsl(187, 93%, 62%);
}